.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

#dataHeader{
  width: 200px;
  height: 200px;
}

#decisionTree{
  width: 800px;
  height: 450px;
}

#redditLogo{
  width: 187px;
  height: 187px;
}



body { margin: 0; padding: 0; }

#footerr{
  background-color: 	#303030 !important;
  color: white !important;
}

#linearRegression{
  width: 600px;
  height: 450px;
}
body{
  background: linear-gradient(lightblue, gray);
}

#classifications{
  width: 600px;
  height: 250px;
}

#wow{
  background-image: url("pictures/matrixBlue.jpg");
  background-size: cover;
}

#courseralogo{
  width: 400px;
  height: 75px;
}

#vizdata{
  color: red;
}

h1{
  font-family: billabong;
}

h2{
  font-family: billabong;
}

h4{
  font-family: billabong;
}

.carousel-item{
  min-height:300px; background:#ccc;
 }
